<footer class="footer-section">
    <div class="footer-link">
        <ul class="footer-list">
            <li class="footer-list-link">About us</li>
            <li class="footer-list-link">Customer order</li>
            <li class="footer-list-link">Our collection</li>
            <li class="footer-list-link">Testimonials</li>
        </ul>
    </div>
    <div class="footer-slogan">
        <p class="footer-text-slogan">A touch of Ukrainian culture in every embroidery</p>
    </div>
    <div class="footer-ornament">
        <img src="../ornament.png" alt="ornament">
    </div>
</footer>